.menu {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.9);
}

.menu__content {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-evenly;
  top: 60px;
  height: 0;
  overflow: hidden;
  transition: all ease 0.8s;
}

.menu__content--show {
  height: 100vh;
}

.menu__item {
  cursor: pointer;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  z-index: 300;
  color: white;
  transition: all ease 0.5s;
}

.menu__item:hover {
  color: rgb(199, 199, 199);
  background-color: rgba(255, 255, 255, 0.05);
}

.hamburger {
  position: relative;
  height: 15px;
  width: 25px;
  top: 23px;
  left: 20px;
  cursor: pointer;
}

.hamburger__line {
  position: absolute;
  background-color: white;
  height: 2px;
  left: 0%;
  right: 0%;
  transition: all ease 0.4s;
}

.hamburger__line1 {
  top: 0%;
}

.hamburger__line2 {
  top: 50%;
}

.hamburger__line3 {
  top: 100%;
}

.hamburger--close .hamburger__line1 {
  transform: rotate(45deg);
  top: 45%;
}

.hamburger--close .hamburger__line2,
.hamburger--close .hamburger__line3 {
  transform: rotate(-45deg);
  top: 45%;
}
